<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso de Vue</title>
</head>

<body>
    <div id="app">
        <form v-on:submit.prevent="addPais()" >
            <label for="">Pais:</label>
            <input type="text" v-model="name"> 
            <br>
            <br>
            <label for="">Capital:</label>
            <input type="text" v-model="capital"> 
            <br>
            <br>
            <button>Agregar</button>
            
        </form>
        
        <ul>
            <template v-for="(pais, index) in paises"  :key="pais.name">
                <li >
                    {{index + 1}}  -  {{ pais.name }} - {{ pais.capital }}
                    </li>
            </template>
           
        </ul>
        
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>


        Vue.createApp({
            data() {
                return {
                    name: "",
                    capital: "",
                    paises: [
                        {
                            name : "Peru",
                            capital : "Lima"
                        },
                        {
                            name : "Bolivia",
                            capital : "Sucre"
                        }
                    ]
                }
            },
            methods: {
                addPais(){
                    this.paises.push({
                            name : this.name,
                            capital : this.capital
                        });
                    this.name = "",
                    this.capital = ""
                }
            }
        }).mount("#app");

    </script>
</body>

</html>